.hero{
    min-height: 100vh;
}
.cont-header{
    background: black;
    background-image: url('../../../public/images/img-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 69.53713670613563vh;
    display: flex;
    flex-direction: column;
}


.cont-info{
    height: 30.46286329386437vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

@media (max-width: 1023px){
    .cont-header{
        height: 100vh;
        align-items: center;
    }
    .info-header1{
        margin-top: 10rem;
        width: 100vw;
        height: 40rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-info{
        display: none;
    }
}