.hero{
    min-height: 100vh;
}
.cont-header{
    background-color: black;
    background-image: url('../../../public/images/img-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 39rem;
    display: flex;
    flex-direction: column;
}

.cont-info{
    height: 23.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}