.cont-input{
    width: 24rem;
    height: 3rem;
    border: 1px solid rgba(31, 31, 31, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1rem;
}
.title-input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 18px;
    color: #F97316;
}

.input-register{
    width: 20rem;
    background: transparent;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.input-register:focus {
    outline: none;
}