.hero-info{
    width: 92vw;
    height:  25vh;
    background: linear-gradient(162.88deg, #FF5722 -11.37%, #F97316 73.97%);
    border-radius: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10vh;
        
}
.img1-info{
    width: 16vw;
    height: 28vh;
    margin-left: 5vh;
    margin-bottom: .5rem;
}

.img2-info{
    width: 8vw;
    height:  25vh;
    border-radius:.5vh;
    margin-bottom: 2.5vh;
}

.cont-info2-hero{
    width:  35vw;
    height: 20vh;
    margin-left: 4vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 0.5rem;
}


.h2-info2-hero{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
    color: #FFFFFF;
}

.p1-info2-hero{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vh;
    color: rgba(255, 255, 255, 0.6);
}
.p2-info2-hero{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vh;
    color: #FFFFFF;
    width: 35vw;
}