.hero-info{
    width: 92vw;
    height: 16.563rem;
    background: linear-gradient(162.88deg, #FF5722 -11.37%, #F97316 73.97%);
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6rem;
        
}
.img1-info{
    width: 16.438rem;
    height: 18.188rem;
    margin-bottom: 1rem;
}

.img2-info{
    width: 11.188rem;
    height: 16rem;
    border-radius: 6px;
    margin-bottom: 2rem;
}

.cont-info2-hero{
    width: 22.25rem;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
}


.h2-info2-hero{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.p1-info2-hero{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}
.p2-info2-hero{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    width: 356px;
}